@model IEnumerable<PikatEShitjes>


@{
    ViewData["Title"] = "Locations ";
}


<main id="main">

    <section id="why-us" class="why-us">
        <div class="container pt-5">

            <div class="section-title justify-content-center pt-2">
                <h2><span>Find Us</span></h2>
            </div>

            @*searchi*@

            <form asp-action="Index" method="get">
                <div class="form-actions no-color " style="margin-left:27%">
                    <p>
                        Find by name: <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
                        <input type="submit" value="Search" class="btn btn-block" /> |
                        <a asp-action="Index">Back to Full List</a>
                    </p>
                </div>
            </form>
            @*filteri*@
  
            <div class="row px-4 mb-2 border">
                <div class="col-6 text-center px-0 ">

                    <div class="block py-"><a asp-action="Index" asp-route-sortOrder="@ViewData["CitySortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">City</a></div>
                </div>
                  <div class="col-6 text-center px-0 ">
   <div class="block py-1">
                <a asp-action="Index" asp-route-sortOrder="@ViewData["InfoSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Info</a>
                </div>
                </div>

            </div>


            <div id="menu" class="row mt-4 justify-content-center">
                @if (TempData["AlertMessage"] != null)
                {
                    <div class="alert alert-success text-center">
                        @TempData["AlertMessage"]
                    </div>
                }

                @foreach (var item in Model)
                {



                    <div class=" col-lg-3 col-sm-5 m-1 mb-5 mt-2">
                        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
                        {
                            <div class="p-2 text-white bg-dark rounded-top border border-bottom-0 border-secondary">
                                <a asp-action="Edit" asp-route-id="@item.Id" class="text-white"><i class="bi bi-pencil-square"></i></a>
                                <a asp-action="Delete" asp-route-id="@item.Id" style="float: right !important;" class="text-white"><span>&times;</span></a>
                            </div>
                        }

                        <div id="po" class="box">
                            <div class="" style="position: relative; overflow: hidden; padding-bottom: 100%;">
                                <img src="~/images/@Html.DisplayFor(modelItem => item.Image)" style=" position: absolute; max-width: 100%; max-height: 100%; top: 50%; left: 50%; transform: translateX(-50%) translateY(-50%);" alt="">
                            </div>
                            <h3 class="card-title mt-3">@Html.DisplayFor(modelItem => item.City)</h3>
                            <p class="card-text mb-3"><i>@Html.DisplayFor(modelItem => item.Info)</i></p>
                            <div class="row">
                                <div class="col">
                                    <a asp-action="Details" asp-route-id="@item.Id" class="text-black" style="float: right"><i class="bi bi-eye-fill ">></i></a>
                                </div>

                            </div>
                           



                        </div>
                    </div>


                }
            </div>

        </div>
    </section>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div style="position: fixed; right: 25px; bottom: 25px;" class="text-white">
            <a asp-controller="PikatEShitjes" asp-action="Create" class="btn-add-new"><i class="bi bi-plus-circle"></i> Add New </a>
        </div>
    }

</main>